html, body{
    background: blueviolet;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    display: flex;

}
.container{
    width: 360px;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
   
}
#addButton{
    width: 50px;
    height:40px;
    border-radius: 5px;
    border: 1px solid black;
}
h1{
    position: absolute;
    top:10px;
    left: 50%;
    font-size: 28px;
    color: yellowgreen;
}

#inputField{
    width: 360px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
   color: chartreuse;
    margin-bottom: 10px;
   align-items: center;
    justify-content: center;
text-align: center;

}
.to-dos{
    width: 100%;
    font-size: 24px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    
    margin-right: 5px;
}

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 28px;
    color:rgb(124, 123, 123);

}